@import url('https://fonts.googleapis.com/css?family=Roboto: 100, 200, 300, 400, 500, 600, 700');

/*-------------------------------------------Colors*/

body {
    background-color: #fafafa;
}

.bg-color-nav {
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.bg-color-footer {
    background-color: #fff;
    border-top: 1px solid #000;
}

.dark-background {
    background-color: #676767;
}

/*-------------------------------------------Utility classes*/

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
    margin-left: 10px;
}

.right-align {
    text-align: right;
    margin-right: 10px;
}

.vertical-align-center {
    margin: 20vh auto;
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.overlay-image {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    width: 100%;
    height: 100%;
}

.spacer {
    background-color: #f70707;
    width: 100px;
    height: 3px;
    border: none;
    border-radius: 500px;
}

.no-padding {
    padding: 0;
}

.center-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.white-space{
    padding: 50px 0;
}

/*-------------------------------------------Navbar*/

.navbar-default {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
}

.navbar-default .navbar-nav li a {
    color: #000;
}

.navbar-logo,
.navbar-logo:hover {
    color: #000;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
}

.social-nav li {
    margin: 15px 2px 0 2px;
}

.social-nav li a i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    font-size: 15px;
    padding: 7px 0;
    line-height: 7px;
    text-align: center;
    color: #000;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-nav a i:hover {
    text-decoration: none;
    color: #f70707;
    border: 1px solid #f70707;
}

.main-nav a {
    font-size: 15px;
    display: block;
    color: #575757;
    margin: 12px 7px 0 7px;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.main-nav a:hover,
.main-nav a:focus {
    text-decoration: none;
    color: #f70707;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    margin: 4px 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-toggle {
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-toggle:hover {
    background-color: #000;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.logo-image {
    height: 68px;
    width: 200px;
}

.center-nav{
    padding-top: 10px;
}

/*-------------------------------------------Footer*/

.copyright-text {
    padding-top: 25px;
    font-size: 13px;
}

.footer{
    padding: 10px 0;
}

/*-------------------------------------------Welcome section*/

.welcome-image {
    background-image: url(../images/monkees.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: 80vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.welcome-text {
    color: #fff;
    font-weight: 200;
    display: block;
    font-size: 30px;
}

.welcome-heading {
    color: #fff;
    font-weight: 400;
    font-size: 45px;
}

/*-------------------------------------------Newsletter sign up*/

.btn-newsletter {
    background-color: #f70707;
    color: #fff;
}

.btn-newsletter:hover,
.btn-newsletter:active,
.btn-newsletter:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #c10101;
    color: #fff;
}

.newsletter-form {
    margin: 10px;
}

.newsletter-text {
    color: #575757;
    font-weight: 200;
    display: block;
    font-size: 20px;
}

.newsletter-heading {
    color: #000;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.newsletter-section {
    margin: 50px 0;
    width: 100%;
}

/*-------------------------------------------Booking form*/

.booking-form {
    padding: 20px;
    position: relative;
    display: block;
}

.booking-text {
    color: #575757;
    font-size: 18px;
    font-weight: 200;
    padding: 0 20px;
}

.label-text {
    font-weight: 400;
}

.label-subtext {
    font-weight: 200;
}

.placeholder-text {
    font-weight: 200;
    font-size: 13px;
}

.placeholder-text::placeholder {
    font-weight: 200;
    font-size: 13px;
}

/*-------------------------------------------Contact section*/

.contact-section {
    padding: 20px;
    display: block;
    position: relative;
}

.contact-section-heading {
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.contact-heading {
    margin: 30px auto;
    font-weight: 500;
    font-size: 15px;
    text-align: center;

}

.contact-text {
    font-weight: 200;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
}

/*-------------------------------------------Music - video*/

.music-video {
    position: relative;
    display: block;
    height: 90%;
    width: 90%;
    margin: 10px auto;
}

.music-cover {
    position: relative;
    display: block;
    width: 50%;
    height: 50%;
    margin: 10px 25%;
}

.cover-image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.cover-section {
    position: relative;
    display: block;
    margin: 0 auto;
}

/*-------------------------------------------Audio*/

.music-audio {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.audio-section {
    margin: 0 auto;
    padding: 0 30px;
}

.cover-image-audio {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.cover-section-audio {
    position: relative;
    display: block;
}

.music-cover-audio {
    position: relative;
    display: block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.info-text {
    position: relative;
    display: block;
    margin: 10px 20%;
}

/*-------------------------------------------Latest Content*/

.latest-content-youtube {
    margin: 20px auto;
    position: relative;
    display: block;
}

.latest-content-youtube a {
    font-size: 80px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.latest-content-youtube a:hover {
    font-size: 80px;
    color: #f70707;
    text-decoration: none;
}

.latest-content-heading {
    color: #fff;
}

/*-------------------------------------------Band members section*/

.overlay-image-band {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.photo-border {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #f70707;
    margin: 10px auto;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.band-member-photo {
    height: 87%;
    width: 87%;
    border-radius: 50%;
    background-color: #000;
    display: table;
    position: relative;
    margin: 10px auto;
}

.band-member-info {
    display: table;
    position: relative;
    margin: 10px auto;
}

.band-member-info p {
    padding: 0 25px;
    text-align: justify;
}

.photo-border p {
    color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.dj {
    background-image: url(../images/dj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.md {
    background-image: url(../images/md.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.mn {
    background-image: url(../images/mn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.pt {
    background-image: url(../images/pt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

/*-------------------------------------------Band section*/

.photo-border-band {
    height: 180px;
    width: 280px;
    border-radius: 5px;
    border: 3px solid #f70707;
    margin: 10px auto;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.photo-border-band p {
    color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.band-photo {
    background-image: url(../images/cover3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
    border-radius: 5px;
    background-color: #000;
    margin: 12px auto;
    display: table;
    position: relative;
}

.overlay-image-band-photo {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}



/*-------------------------------------------Media Queries*/

@media(min-width: 768px) {

    /*--------------Social links*/
    
    .social-nav li {
        margin: 15px 5px 0 5px;
    }

    /*--------------Newsletter section*/
    .newsletter-heading {
        color: #000;
        font-weight: 400;
        font-size: 45px;
        margin: 0;
    }

    .newsletter-text {
        color: #575757;
        font-weight: 200;
        display: block;
        font-size: 30px;
    }

    /*--------------Booking*/
    .booking-text {
        color: #575757;
        font-size: 18px;
        font-weight: 200;
    }

    /*--------------Contact*/
    .contact-heading {
        margin: 30px 0;
        padding-left: 30px;
        font-weight: 500;
        font-size: 15px;
        text-align: left;
    }

    .contact-text {
        font-weight: 200;
        margin-bottom: 0;
        padding-left: 30px;
        text-align: left;
        font-size: 15px;
    }

    .contact-section-heading {
        font-weight: 500;
        padding-left: 30px;
        text-align: left;
    }

    /*--------------Video*/
    .music-cover {
        position: relative;
        display: block;
        width: 15%;
        height: 15%;
        margin: 20px auto;
    }

    /*---------------Audio*/
    .music-audio {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    /*--------------band members section*/
    .band-member-section {
        background-image: url(../images/monkees2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        height: 650px;
    }

    .photo-border {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 5px solid #fff;
        margin: 10px auto;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .band-member-photo {
        height: 93%;
        width: 93%;
        border-radius: 50%;
        background-color: #000;
        display: table;
        position: relative;
        margin: 10px auto;
    }

    .band-member-info {
        display: table;
        position: relative;
        margin: 10px auto;
    }

    .photo-border:hover {
        border-color: #f70707;
    }

    .photo-border:hover p {
        color: rgba(255, 255, 255, 1);
    }

    .photo-border:hover .overlay-image-band {
        background-color: rgba(0, 0, 0, 0.5);
    }

    /*--------------Band section*/
    .photo-border-band {
        height: 330px;
        width: 530px;
        border-radius: 5px;
        border: 5px solid #575757;
        margin: 10px auto;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .band-photo {
        background-image: url(../images/cover3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 500px;
        border-radius: 5px;
        background-color: #000;
        margin: 10px auto;
        display: table;
        position: relative;
    }

    .photo-border-band:hover {
        border-color: #f70707;
    }

    .photo-border-band:hover p {
        color: rgba(255, 255, 255, 1)
    }

    .photo-border-band:hover .overlay-image-band-photo {
        background-color: rgba(0, 0, 0, 0.5);
    }

}
